@import "../../assets/dist/sass/import";
@import "../../assets/dist/sass/tabStyle";

.modal-limiter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.content-body-body {
  margin-top: 1.5rem;
  .tab-section {
    box-shadow: 0 4px 8px -2px $gray-400;
    background-color: $white;
    color: $gray-800;
    margin-bottom: 20px;
    position: relative;
    padding: 1.5rem 0;
    border: 0 none;
    border-radius: 0.5rem;

    .btn-add {
      color: $white;
      width: 30px;
      height: 30px;
      padding: 0.75rem;
      border-radius: 0.5rem;
      margin-left: 1.5rem;
      @include plusJakartaSansType($weight: 400);
      border: 1px solid $green;
      background: $green;
      cursor: pointer;
      @include flex($align: center, $justify: center, $gap: 5px);
      &:hover {
        background: $green-2;
      }
      svg {
        font-size: 18px;
      }
    }
  }
}
