@import "../../../assets/dist/sass/import";
.wrap-modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 44px 35px;
  background: $white;
  border-radius: 5px;
  width: 400px;
}

.wrap-modal-form .modal-header {
  display: block !important;
  .modal-header-title {
    display: block;
    font-weight: 500;
    color: $gray-800;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
    @include plusJakartaSansType($weight: 600);
  }

  .closepopup {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: transparent;
    color: $gray-700;
    cursor: pointer;
    svg {
      @include flex($align: center, $justify: center);
      width: 15px;
      height: 15px;
      font-size: 16px;
      padding: 0.25rem;
      color: $white;
      border-radius: 50%;
      background: rgba($color: $gray-600, $alpha: 0.5);
    }
  }
}

.wrap-modal-form .registration-form,
.wrap-modal-form .registration-edit-form {
  margin-top: 45px;
  width: 100%;
  @include flex(
    $direction: column,
    $align: flex-end,
    $justify: flex-start,
    $flexwrap: nowrap,
    $gap: 35px
  );
  .wrap-input100 {
    width: 100%;
    display: block;
    .input100 {
      width: 100%;
    }
    .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
      @include plusJakartaSansType($weight: 500);
      color: $gray-600;
      font-size: 14px;
    }
    .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px !important;
      line-height: 1.45rem !important;
      @include flex($align: center, $justify: center);
      @include plusJakartaSansType($weight: 400);
    }
    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
      @include plusJakartaSansType($weight: 400);
      font-size: 0.9rem;
      &.Mui-focused {
        color: $primary;
      }
    }
    .css-md26zr-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
      .MuiOutlinedInput-notchedOutline {
      border-color: $primary;
      border-width: 0.1rem;
    }
  }
  .button_group {
    float: right;
    .btn-add,
    .btn-edit {
      color: $white;
      background: $primary;
      width: 125px;
      padding: 0.75rem;
      border-radius: 5px;
      @include plusJakartaSansType($weight: 500);
      font-size: 14px;
      border: none;
      cursor: pointer;
      &:disabled {
        user-select: none;
        opacity: 0.4;
        background: $gray-700;
        cursor: not-allowed;
      }
      svg {
        margin-right: 5px;
      }
    }
  }
}
