@import "./assets/dist/sass/import";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
}

body {
  overflow: hidden;
  .option {
    font-size: 14px !important;
    @include plusJakartaSansType($weight: 400);
  }
  .App {
    width: 100%;
    height: 100vh;
    background-color: $gray-900;
    padding: 0.5rem;
    @include flex($align: center, $justify: center, $flexwrap: nowrap);
    .left-side,
    .right-side {
      overflow: hidden;
      .bloc-limiter {
        width: 90%;
        margin: 15px auto;
        height: 100%;
        position: relative;

        &.m-0 {
          margin: 0 auto;
        }
      }
    }
    .left-side {
      width: 40%;
      height: 100%;
      z-index: 9999;
      transition: width 0.25s ease;
      &.collapse {
        width: 81px;
        @include flex($direction: column, $align: center, $justify: center);
      }
    }
    .right-side {
      position: relative;
      background: $gray-200;
    }
  }
}
